.search{
  margin: 10px 10%;
  box-shadow: 0 0 10px var(--primary-green);
  border-radius: 25px;
  padding: 25px 10px;
}

.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 25px;
  padding: 0 15px;
}

.searchCol2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin: 50px 0;
  align-items: center;
  vertical-align: top;
  justify-content:center;
}

.box{
  display: flex;
  max-width: 310px;
  align-items: center;
  margin: auto;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo{
  width: 100%;
  margin: 0.4rem 0;
  margin-bottom: 4rem;
   text-align: center;
   box-shadow: 0 0 4px var(--primary-green);
   border-radius: 15px;
   padding: 15px;
}

.promo h4{
  font-size: 1.2rem;
  color: var(--primary-green);
}

.timer{
  padding: 10px 0;
  font-size: 16px;
}
.offer{
  background: var(--primary-green);
  border-radius: 25px;
  color: antiquewhite;
  padding: 5px 0px;
}
.left h2{
  color: var(--primary-green);
}

.description{
  max-width: 1020px;
  text-align:justify ;
}

.book{
  display: flex;
  flex-direction: column;
  align-items:baseline;
  margin-left: 5px;
}

.inputWrap{
  margin: 7px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.inputWrap input,select{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-family: poppins;
  outline: none;
  padding: 4px 25px;
  border: none;
  box-shadow: 0 0 4px var(--primary-green);
  border-radius: 15px;
}

.inputWrap select{
  width: 100%;
}
.date{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date input{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .inputWrap button{
  width: 100%;
} */

@media screen and (max-width:950px) {
  .btn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .searchCol2{
    display: flex;
    flex-direction: column;
  /*   grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */
    margin: 25px 0;
    align-items: center;
  }
  .book{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right{
    justify-content: flex-start;
    padding-bottom:0 ;
  }
  .promo{}
  
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .box button {
    align-items: center;
  }
  .inputWrap{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .date{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

}